* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: rgb(190, 202, 233);
}

header {
  background-color: rgb(190, 202, 233);
}

nav {
  position: fixed;
  bottom: 1;
  right: 0;
  left: 0;
  top: 0;
}

.header-one {
  display: flex;
  justify-content: center;
}

.day {
  list-style: none;
  flex-basis: calc(100% / 7);
  text-align: center;
  border: 1px solid rgb(145, 163, 206);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(254, 254, 255);
  color: rgb(66, 90, 146);
}

.nav-ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

li {
  list-style: none;
}

.sub-li {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.sub-ul {
  display: flex;
  align-items: flex-end;
}

.sub-p {
  flex-basis: 100%;
}

.inner-p {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 10rem;
}

.container {
  width: 900px;
  margin: 0 auto;
  border: 1px solid rgb(254, 254, 255);
  border-radius: 6px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(254, 254, 255);
  color: rgb(66, 90, 146);
  padding-bottom: 2.5rem;
}

a {
  text-decoration: none;
  color: rgb(66, 90, 146);
}

.form-container {
  width: 80%;
  border: 1px solid rgb(66, 90, 146);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.col-full {
  width: 100%;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
}

input {
  width: 15rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid rgb(66, 90, 146);
  margin-bottom: 1rem;
}

textarea {
  border-radius: 5px;
  border: 1px solid rgb(66, 90, 146);
  width: 55%;
}

label {
  font-size: 1.5rem;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

table,
th,
td {
  border: 1px solid rgb(1, 19, 58);
}

table {
  width: 80%;
}
