.header-one {
  display: flex;
  justify-content: center;
}

.day {
  list-style: none;
  flex-basis: calc(100% / 7);
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

li {
  list-style: none;
}

.sub-li {
  text-align: center;
  flex-basis: 100%;
  display: flex;
}

.sub-ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
